{% extends "learning_logs/base.html" %}
    
{% block content %}
    <main>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat est laborum optio eius impedit quam! Itaque ex nobis doloremque, iusto earum ad impedit nam recusandae porro sequi sed perferendis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa vel perferendis sequi nam maxime doloremque provident necessitatibus a quod expedita quam libero, veniam nobis consequuntur numquam, inventore earum cupiditate vero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste sint ea facere eaque, sit nemo earum nesciunt voluptatum molestias voluptate delectus, sunt cum labore. Repellat officiis impedit ratione libero aliquam?</p>
    </main>
{% endblock content %}

